{% extends "layout/basic.html" %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock css %}

{% block content %}
<div class="account">
  <div class="title">Login SMS</div>
  <form id="smsForm" method="POST" novalidate>
      {% csrf_token %}
      {% for field in form %}
          {% if field.name == 'code' %}
              <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="row">
                      <div class="col-xs-7">
                          {{ field }}
                          <span class="error-msg"></span>
                      </div>
                      <div class="col-xs-5">
                          <input id="btnSms" type="button" class="btn btn-default fixed-width-button" value="Vertification">
                      </div>
                  </div>
              </div>
          {% else %}
              <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  <span class="error-msg"></span>
              </div>
          {% endif %}
      {% endfor %}

      <div>
        <div style="float: right;">
            <a href="{% url 'login' %}">Email Login</a>
        </div>
    </div>

      <div class="row">
          <div class="col-xs-3">
              <input id="btnSubmit" type="button" class="btn btn-primary" value="Submit"/>
          </div>
      </div>
  </form>
</div>

{% endblock content %}

{% block js %}
<script>
    $(function(){
        bindClickBtnSms();
        bindClickSubmit();
    });

    function bindClickBtnSms(){

        $('.error-msg').empty();

        $('#btnSms').click(function(){
            var mobilePhone = $('#id_mobile_phone').val();

            $.ajax({
                url: "{% url 'send_sms' %}",
                type:"GET",
                data:{ "mobile_phone": mobilePhone, tpl: 'login'},
                dataType:"json",
                success: function(res){
                    if (res.status){
                        sendSmsRemind();
                    } else {
                        console.log(res.error)
                        $.each(res.error, function(key, value){
                            $('#id_'+key).next().text(value[0])
                        })
                    }
                }
            })
        })
    }

    function bindClickSubmit() {
            $('#btnSubmit').click(function () {
                $('.error-msg').empty();
                $.ajax({
                    url: "{% url 'login_sms' %}",
                    type: "POST",
                    data: $('#smsForm').serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if(res.status){
                            location.href = res.data;
                        }else{
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        }

    function sendSmsRemind(){
        var $smsBtn = $('#btnSms');
        $smsBtn.prop('disabled', true);
        var time = 60;
        var remind = setInterval(function(){
            $smsBtn.val(time + 's');
            time --;
            if (time < 1){
                clearInterval(remind);
                $smsBtn.val('Vertification');
                $smsBtn.prop('disabled', false);
            }
        },1000)
        

        
    }
</script>
  
{% endblock js %}